# Personal OpenAI api key
OPENAI_API_KEY=
# Personal Anthropic api key
ANTHROPIC_API_KEY=

# Google api key
GOOGLE_API_KEY=A

# DeepSeek api key
DEEPSEEK_API_KEY=

# Perplexity api key
SONAR_API_KEY=

# Finhub api key
FINNHUB_API_KEY=

# Hugging Face token
HF_TOKEN=

# Fixed Jupyter token
COLAB_JUPYTER_TOKEN=